NODE_ENV=development
AUTH_SERVICE_PORT=4001
USER_SERVICE_PORT=4002
FRONTEND_ORIGIN=http://localhost:3000
AUTH_SERVICE_URL=http://localhost:4001
USER_SERVICE_URL=http://localhost:4002
INTERNAL_SERVICE_TOKEN=replace-this-with-a-long-random-secret-32-chars-min
JWT_ACCESS_SECRET=replace-this-with-another-long-random-secret-for-access
JWT_REFRESH_SECRET=replace-this-with-another-long-random-secret-for-refresh
ADMIN_EMAIL=admin@argastro.com
ADMIN_PASSWORD=ChangeMe123!Admin
DATA_DIR=./data
